@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i');

body {
	background-color: #009C7A;
	display: flex;
	align-items: center;
	min-height: 1000px;
	#app {
		background-color: #3F3F3F;
		font-family: 'Lato', sans-serif;
		padding: 10px;
		border-radius: 4px;
		width: 60%;
		margin: auto;
		box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.5);
		.contactsList {
			margin: 0;
			padding: 0;
		}
		.contactForm {
			padding: 10px;
			border-radius: 2px;
			border: none;
			text-align: center;
			input {
				margin: 0 5px;
			}
			button {
				background-color: #009C7A;
				border-radius: 3px;
				border: green;
				margin-left: 15px;
				color: #fff;
				padding: 5px;
				transition: 0.3s;
				&:hover {
					background-color: #95a5a5;
				}
			}
		}
		.contactItem {
			background-color: lightgray;
			margin: 10px auto;
			padding: 30px;
			text-align: center;
			border-radius: 5px;
			width: 50%;
			box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.5);
			transition: 0.5s;
			&:hover {
				width: 51%;
			}
			img {
				width: 100px;
				transition: 0.4s;
				cursor: pointer;
				&:hover {
					width: 110px;
				}
			}
			a {
				color: #009C7A;
				&:hover {
					color: #008266;
				}
			}
		}
	}
}